/* CSS Reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS Reset <-- */

:root {
  --primary-clr-200: hsl(225, 100%, 94%);
  --primary-clr-400: hsl(245, 75%, 52%);
  --neutral-clr-100: hsl(225, 100%, 98%);
  --neutral-clr-400: hsl(224, 23%, 55%);
  --neutral-clr-900: hsl(223, 47%, 23%);

  --ff: "Red Hat Display", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

body {
  background-color: var(--primary-clr-200);
  font-family: var(--ff);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
}

.component {
  min-width: 325px;
  max-width: 50%;
  background-color: var(--neutral-clr-100);
  border-radius: 20px;
  overflow: hidden;
}

.text-content-wrapper {
  padding: 1.5em;
}

.component-title {
  font-size: 1.35rem;
  font-weight: var(--fw-900);
  text-align: center;
  color: var(--neutral-clr-900);
  margin-bottom: 0.7em;
}

.component-description {
  color: var(--neutral-clr-400);
  font-size: 0.9rem;
  text-align: center;
  /* border: 1px solid black; */
  padding: 0 1em;
  font-weight: var(--fw-500);
}

.flex-container {
  display: flex;
  border: 1px solid black;
  gap: 1em;
}

.subscription-plan {
  display: flex;
  padding: 0.65em;
  /* border: 1px solid red; */
  align-items: center;
  background-color: hsla(225, 100%, 94%, 0.35);
  justify-content: space-between;
  border-radius: 10px;
}

.plan-details {
  border: 1px solid red;
  padding: 0.25em 0 0 0;
}

.plan-name {
  font-size: 0.85rem;
  font-weight: var(--fw-900);
  color: var(--neutral-clr-900);
}

.plan-price {
  font-size: 0.85rem;
  font-weight: var(--fw-500);
  color: var(--neutral-clr-400);
}

.plan-change {
  font-size: 0.8rem;
  font-weight: var(--fw-700);
  color: var(--primary-clr-400);
  text-decoration: underline;
}

.plan-change:hover {
  cursor: pointer;
  color: hsla(245, 75%, 52%, 0.6);
  text-decoration: none;
}

.payment {
  /* outline: none; */
  width: 100%;
  padding: 0.85em 0;
  font-size: 0.9rem;
  font-weight: var(--fw-700);
  color: var(--neutral-clr-100);
  background-color: var(--primary-clr-400);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 13px 14px 0px hsla(245, 75%, 52%, 0.2);
}

.payment:hover {
  cursor: pointer;
  background-color: hsla(245, 75%, 52%, 0.6);
}

.cancel-order {
  border: 1px solid black;
  text-align: center;
  font-size: 0.85rem;
  color: var(--neutral-clr-400);
  font-weight: var(--fw-900);
  margin-top: 1.5em;
}

.cancel-order:hover {
  cursor: pointer;
  color: var(--neutral-clr-900);
}
